@{
    ViewData["Title"] = "Chat";
}
@model List<Microsoft.AspNetCore.Identity.IdentityUser>

<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row">
            <!--
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Member</h5>
                <div class="row">

                    <p onclick="joinGroup()" class="text-success col-6 text-start">

                        <svg width="16" height="16" fill="green" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5" />
                            <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z" />
                        </svg>

                        Click to join group

                        <svg width="16" height="16" fill="green" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5" />
                            <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z" />
                        </svg>

                    </p>
                    <p onclick="leaveGroup()" class="text-danger col-6 text-end">

                        <svg width="16" height="16" fill="red" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16 M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>

                        Click to leave group

                        <svg width="16" height="16" fill="red" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16 M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>

                    </p>
                </div>
                @if (Model is not null)
                {
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                @foreach (var item in Model)
                                {
                                    <li class="p-2 border-bottom" style="background-color: #eee;">
                                        <a href="#!" class="d-flex justify-content-between  text-decoration-none">
                                            <div class="d-flex flex-row">
                                                <img src="https://random.imagecdn.app/50/50" alt="avatar"
                                                     class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                                                <div class="pt-1">
                                                    <p class="fw-bold mb-0"> @item.Email </p>
                                                    <p class="small text-muted"> Latest message text. </p>
                                                </div>
                                            </div>
                                            <div class="pt-1">
                                                <p class="small text-muted mb-1">Just now</p>
                                                <span class="badge bg-danger float-end">1</span>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
            -->

            <ul class="list-unstyled" id="messagesList">
            </ul>
            <div class="form-outline mb-3">
                <textarea class="form-control" id="textarea" rows="4" placeholder="Message"></textarea>
            </div>
            <div class="row">
                <div class="col-2">
                    <button onclick="SendToBackendToAllUsers()" class="btn btn-primary mx-1 w-100 h-100">ALL</button>
                </div>

                <div class="col-8">
                    <div class="row mb-2">
                        <div class="col-4 text-start">
                            <button onclick="SendToBackendToAllUsersButMe()" class="btn btn-danger mx-1 w-100 h-100">OTHERS</button>
                        </div>
                        <div class="col-4 text-center">
                            <button onclick="SendToBackendToTheCaller()" class="btn btn-secondary mx-1 w-100 h-100">ME</button>
                        </div>
                        <div class="col-4 text-end">
                            <button onclick="SendToBackendToSpecificUser()" class="btn btn-success mx-1 w-100 h-100">Specific</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4 text-start">
                            <button onclick="SendToBackendToSpecificGroupOfUsers()" class="btn btn-warning mx-1 w-100 h-100">Group</button>
                        </div>
                        <div class="col-4 text-center">
                            <button onclick="SendToBackendToAllUsersExceptSpecificUser()" class="btn btn-dark mx-1 w-100 h-100">EX PUTIN</button>
                        </div>
                        <div class="col-4 text-end">
                            <button onclick="SendOneToSecondUser()" class="btn btn-info mx-1 w-100 h-100">PUTIN</button>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button onclick="SendOneToFirstUser()" class="btn btn-dark mx-1 w-100 h-100">JOHN</button>
                </div>

            </div>


        </div>

            <!-------------------------------------------------------------->
            <!-------------------------------------------------------------->
            <!-------------------------------------------------------------->
            <!-------------------------------------------------------------->
            <hr/>
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Member</h5>
                <div class="row">

                    <p onclick="joinGroup()" class="text-success col-6 text-start">

                        <svg width="16" height="16" fill="green" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5" />
                            <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z" />
                        </svg>

                        Click to join group

                        <svg width="16" height="16" fill="green" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5" />
                            <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z" />
                        </svg>

                    </p>
                    <p onclick="leaveGroup()" class="text-danger col-6 text-end">

                        <svg width="16" height="16" fill="red" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16 M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>

                        Click to leave group

                        <svg width="16" height="16" fill="red" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16 M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>

                    </p>
                </div>


                @if (Model is not null)
                {
                    <div class="card">
                        <div class="card-body">
                            <!--[ Users List ]-->
                            <ul class="list-unstyled mb-0">
                                @foreach (var item in Model)
                                {
                                    <li class="p-2 border-bottom" style="background-color: #eee;">
                                        <a href="#!" class="d-flex justify-content-between  text-decoration-none">
                                            <div class="d-flex flex-row">
                                                <img src="https://random.imagecdn.app/50/50" alt="avatar"
                                                     class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                                                <div class="pt-1">
                                                    <p class="fw-bold mb-0"> @item.Email </p>
                                                    <p class="small text-muted"> Latest message text. </p>
                                                </div>
                                            </div>
                                            <div class="pt-1">
                                                <p class="small text-muted mb-1">Just now</p>
                                                <span class="badge bg-danger float-end">1</span>
                                            </div>
                                        </a>
                                    </li>
                                }

                            </ul>
                            <!--[ //Users List ]-->





                        </div>
                    </div>
                }

            </div>

        
        
        
        
        
            <!-------------------------------------------------------------->
            <!-------------------------------------------------------------->
            <!-------------------------------------------------------------->
            <!-------------------------------------------------------------->
        

    </div>
</section>
<script src="~/js/signalr.js"></script>
<script src="~/js/chat.js"></script>